.button-10 {
    background: #F9FAFE;
    border: 0.5px solid #E0E7FE;
    box-shadow: 15px 15px 30px rgba(182, 182, 190, 0.4);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #B124A3;;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    /* margin: 0; */
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* margin-right: 10px; */
    width: 208.2px;
    
  }